/RightAngleNumberTriangle1.class
/RightAngleNumberTriangle2.class
/RightAngleTriangleStar1.class
/RightAngleTriangleStar2.class
/RightAngleTriangleStar3.class
/RightAngleTriangleStar4.class
/TriangleNumber1.class
/TriangleStar5.class
/TriangleStar6.class
